{% extends "quiz/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'user-register' %}" method="post">
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="col login_div">

            <input type="text" name="username" id="login_username">
            <input type="password" name="password" id="login_password">
            <button type="button" id='login_btn'>Login</button>

        </div>
        <div class="col logout_div" hidden>
            <span id="username_display"></span>
            <button type="button" id='logout_btn'>Logout</button>
        </div>
    </div>

    <div class="row">


        {% for quiz,url in quiz_data %}
        <div class="col">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ quiz.title}}</h5>
                    <p class="card-text">Timelimit: {{quiz.timelimit}}</p>
                    <a href="{{url}}" onclick="linkClicked(event)" class="btn btn-primary">Take Quiz</a>
                </div>
            </div>
        </div>
        {% empty %}
        <li>No quizzes yet.</li>
        {% endfor %}
    </div>
    <br>
    <div id="quiz_questions" class="container row">

    </div>
</div>
<script>

    $('#login_btn').click(function (e) {
        e.preventDefault();
        username = $('#login_username').val()
        password = $('#login_password').val()
        data = {
            'username': username,
            'password': password
        }
        console.log(data)

        $.ajax({
            url: '/api/users/login/',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify({ username, password }),
            success: function (data, status) {
                console.log(data)
                window.localStorage.setItem('token', ' Token ' + data.token)

                alert('Successfully Logged in, ' + data.username)
                location.reload()

            },
            error: function (xhr, status, error) {
                console.log(status, error, xhr)

                alert(error + ' : ' + xhr.responseJSON.non_field_errors)

            }
        })

    })
    function linkClicked(e) {
        e.preventDefault();
        url = e.target.getAttribute('href')
        console.log(window.localStorage.getItem('token'))
        $.ajax({
            url: url,
            method: 'get',
            contentType: 'application/json',
            headers: {
                'Authorization': window.localStorage.getItem('token') || ''
            },
            success: function (data, status) {

                addQuiz(data)
            },
            error: function (xhr, status, error) {

                alert(error + ' : ' + xhr.responseJSON.detail)

            }
        })

    }


    function addQuiz(quiz) {
        // Add quiz to the dom
        $('#quiz_questions').html('')
        $('#quiz_questions').append(`
            {% csrf_token %}
            <hr>
            <h2 id='${quiz.id}'>${quiz.title}</h2>
            <h3>By: ${quiz.author}</h3> 
            <h4>Time Limit: ${quiz.timelimit}</h4>
            <h4>Total Questions:${quiz.total_questions_num}</h4>
            <hr>

        `)
        addQuestion(quiz.problems)

        $('#quiz_questions').append(`
            <input type="button"class='btn btn-success' id="quiz_submit" value="Submit"/>
        `)
        $('#quiz_submit').on('click', e => {
            submitQuiz()
        })

    }
    function addQuestion(data) {
        data.forEach((problem, i) => {
            $('#quiz_questions').append(`

                <div id="${problem.id}" class="question col-md-12">
                    
                    <h3>Q${i + 1}) ${problem.question}</h3>
                    <span id='point-${problem.id}' data-point='${problem.point}'> ${problem.point} point</span>
                    <hr>
                    <div>
                    ${problem.options.map((element, j) => {
                return `
                        <div class="input-group">
                            <div class="input-group-text">
                                <input type="radio" id="${element.id}" name="${problem.id}"class='option-${i}' value="${element.option}">
                                <label for="${element.id}"> ${j + 1}) ${element.option}</label><br>
                            </div>
                        </div>
                    `
            }).join('')}
                    </div>
                </div>
                <br>
                <hr>
                
            `)
        })
    }

    function submitQuiz() {
        data = []
        questions = $.find('.question')
        
        questions.forEach(question => {

            q_id = question.id
            option = $(`input[name='${q_id}']:checked`).attr('id')
            point = $.find(`#point-${q_id}`)[0]

            
            // console.log(question,$(point).data('point'))
            this.data.push({ 'question': parseInt(q_id), option: parseInt(option), point: parseInt($(point).data('point'))})
        })
        console.log(data)
        $.ajax({
            url: '/api/quiz/quiz/check/',
            method: 'post',
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (result, status) {
                console.log(status, result)
            },
            error: function (xhr, status, error) {
                console.error(status, error,xhr)
            }
        })


    }
    $(document).ready(function () {
        token = window.localStorage.getItem('token')
        if (token) {
            key = token.split(' ')[2]
            console.log(token,key)

            $.ajax({
                url: '/api/users/info/',
                method: 'POST',
                contentType: 'application/json',
                headers: {
                'Authorization': token || ''
                },
                data: JSON.stringify({ 'token': key.toString() }),
                success: function (result, status) {
                    console.log(status, result)
                    $('.login_div').attr('hidden',true)
                    $('#username_display').text(result.user.username)
                    $('.logout_div').removeAttr('hidden')
                    
                },

                error: function (xhr, status, error) {
                    console.error(status, error,xhr)

                }

            })


        }

    })
    $('#logout_btn').on('click',function(e){
        token = window.localStorage.getItem('token')
        e.preventDefault();
        $.ajax({
            url:'/api/users/logout',
            headers: {
                'Authorization': token || ''
            },
            success: function (result, status) {
                    location.reload()
                    
                },

                error: function (xhr, status, error) {
                    console.error(status, error,xhr)

                }
        })


    })


</script>
{% endblock content %}