{% extends "quiz/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form action="{% url 'user-register' %}" method="post">
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <button type="submit">Register</button>
            </form>
        </div>
        <div class="col login_div">

            <input type="text" name="username" id="login_username">
            <input type="password" name="password" id="login_password">
            <button type="button" id='login_btn'>Login</button>

        </div>
    </div>
    {% for quiz,url in quiz_data %}
    <li> <a href="{{url}}">{{ quiz.title }}</a></li>
    {% empty %}
    <li>No quizzes yet.</li>
    {% endfor %}
</div>
<script>
    $('#login_btn').click(function(e){
        e.preventDefault();
        username = $('#login_username').val()
        password = $('#login_password').val()
        data = {
            'username':username,
            'password':password
            }
        console.log(data)
        fetch('/api/users/login/',{
            method: 'POST',
            headers: {
                'Accept': 'application/json, text/plain, */*',
                'Content-Type': 'application/json'
            },
            
            body: JSON.stringify({username,password})
        })
        .then(res=>res.json())
        .then(data=>{
            console.log(data)
            window.localStorage.setItem( 'Authorization',' Token '+data.token)
            location.reload()
        })
        .catch(err=>console.error(err))

    })

	


    
</script>
{% endblock content %}